<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Realtime messaging< /title>
  <script  src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
</head>
<body>
</body>

<script>

const socket = io('http://localhost:9999');
const messageForm = document.getElementById('send-container');
const messageInput = document.getElementById('message-input');
const messageContainer = document.getElementById('message-container');


const avatar =prompt('choose an avatar');
appendMessage({message : 'you joined'});
socket.emit('new-user', avatar);


socket.on('chat-message', data => {
  console.log('on chat message :',data.message);
    appendMessage(data);
})

socket.on('user-connected', avatar => {
    appendMessage( avatar + 'connected');
})



messageForm.addEventListener('submit', e => {
    e.preventDefault();

    const message = messageInput.value;
    console.log('message : ',message);
    socket.emit('send-chat-message', message);
    appendMessage({message: message});
    messageInput.value='';
})

function appendMessage(data) {
    const messageElement = document.createElement('div');
    messageElement.innerText = data.message;
    messageContainer.append(messageElement);


}
</script>
</html>