<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Room </title>
  <script  src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  </style>
</head>
<body>
  <div id="room-form">
        <form method="POST" action="/api/user/room">
            <div>
                <label for="name">Room</label>
                <input type="name" id="room" name="name" required>
                <button type="submit"> create </button>
            </div>
        </form>
  </div>

  <div id="room-container">
       <ul>
           <%= rooms %>
            <% rooms.forEach(function(room){ %>
                <li> <%= room.name %>  </li>
            <% }) %>
       </ul>
    
  </div>

</body>

<script>