<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Room </title>
  <script  src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  </style>
</head>
<body>
  <div id="room-container">
        <form method="POST">
            <div>
                <label for="room">Room</label>
                <input type="room" id="room" name="room" required>
                <button type="submit"> create </button>
            </div>
        </form>
  </div>

</body>

<script>